.containerMobileOptions {
    visibility: hidden;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: black;
    padding: 10px;
    color: white;
    margin-left: 5px;
    opacity: 0.9;    
}

@media screen and (max-width: 768px) {
    .containerMobileOptions{
        visibility: visible;
        

    }
   
  }