
@media screen and (max-width: 768px) {
    /* Estilos CSS que se aplicarán cuando el ancho de la pantalla sea 768px o menos */
.centralLogo{
    display: none !important;
}
.centerButtons{
    margin-top: 50px !important;
    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
}

}

